name: mk-beacon-docs
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material 
      - run: pip install mkdocs-macros-plugin
      - run: pip install mkdocs-mermaid2-plugin
      - run: pip install pymdown-extensions
      - run: pip install mdx_gh_links
      - name: Set repo URL for MkDocs
        run: |
          echo "GITHUB_REPOSITORY_URL=https://github.com/${GITHUB_REPOSITORY}" >> $GITHUB_ENV
      - run: mkdocs gh-deploy --force
